# One-to-Many and Many-to-Many Joins - Lab

## Introduction

In this lab, you'll practice your knowledge on one-to-many and many-to-many relationships!

## Objectives

You will be able to:
- Query data using one-to-many and many-to-many joins
- Predict the resulting size of one-to-many and many-to-many joins

## One-to-Many and Many-to-Many Joins
<img src='images/Database-Schema.png' width="600">

## Connect to the Database

In [2]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('data.sqlite')
c = conn.cursor()

## Employees and their Office (a One-to-One join)

Return a list of all of the employees with their first name, last name and the city and state of the office that they work out of (if they have one). Include all employees and order them by their first name, then their last name.

In [11]:
#Your code here
c.execute("""SELECT firstName, lastName, city, state FROM employees JOIN offices USING (officecode) ORDER BY firstname asc""")

df = pd.DataFrame(c.fetchall())
df.columns = [i[0] for i in c.description]
df

   firstName   lastName           city       state
0       Andy     Fixter         Sydney
1    Anthony        Bow  San Francisco          CA
2      Barry      Jones         London
3      Diane     Murphy  San Francisco          CA
4   Foon Yue      Tseng            NYC          NY
5     George     Vanauf            NYC          NY
6     Gerard     Bondur          Paris
7     Gerard  Hernandez          Paris
8       Jeff   Firrelli  San Francisco          CA
9      Julie   Firrelli         Boston          MA
10     Larry       Bott         London
11    Leslie   Jennings  San Francisco          CA
12    Leslie   Thompson  San Francisco          CA
13      Loui     Bondur          Paris
14      Mami      Nishi          Tokyo  Chiyoda-Ku
15    Martin     Gerard          Paris
16      Mary  Patterson  San Francisco          CA
17    Pamela   Castillo          Paris
18     Peter      Marsh         Sydney
19     Steve  Patterson         Boston          MA
20       Tom       King         Sydney
21   William  Patterson         Sydney
22   Yoshimi       Kato          Tokyo  Chiyoda-Ku

## Customers and their Orders (a One-to-Many join)

Return a list of all the customers first and last names along with a record for each of their order numbers, order dates and statuses.

In [13]:
c.execute("""SELECT contactFirstName, contactLastName, orderNumber, orderDate, sFROM customers""")

df = pd.DataFrame(c.fetchall())
df.columns = [i[0] for i in c.description]
df

    contactFirstName  contactLastName
0            Carine           Schmitt
1               Jean             King
2              Peter         Ferguson
3            Janine           Labrune
4             Jonas        Bergulfsen
5              Susan           Nelson
6           Zbyszek   Piestrzeniewicz
7             Roland           Keitel
8              Julie           Murphy
9               Kwai              Lee
10            Diego            Freyre
11        Christina          Berglund
12            Jytte          Petersen
13             Mary           Saveley
14              Eric        Natividad
15              Jeff            Young
16            Kelvin            Leong
17              Juri        Hashimoto
18             Wendy        Victorino
19            Veysel           Oeztan
20             Keith           Franco
21           Isabel         de Castro
22          Martine             Rancé
23             Marie         Bertrand
24             Jerry            Tseng
25             Julie             King
26              Mory          Kentary
27           Michael            Frick
28             Matti        Karttunen
29            Rachel         Ashworth
..               ...              ...
92         Maurizio            Moroni
93             Akiko        Shimamura
94         Dominique          Perrier
95             Rita            Müller
96             Sarah            McRoy
97           Michael      Donnermeyer
98             Maria        Hernandez
99        Alexander             Feuer
100              Dan            Lewis
101           Martha          Larsson
102              Sue            Frick
103          Roland            Mendel
104           Leslie           Murphy
105               Yu             Choi
106          Martín            Sommer
107            Sven           Ottlieb
108          Violeta          Benitez
109           Carmen            Anton
110             Sean         Clenahan
111           Franco          Ricotti
112            Steve         Thompson
113           Hanna              Moos
114       Alexander           Semenov
115           Raanan      Altagar,G M
116      José Pedro              Roel
117             Rosa          Salazar
118              Sue           Taylor
119          Thomas             Smith
120          Valarie           Franco
121             Tony          Snowden

[122 rows x 2 columns]

## Customers and their Payments (another One-to-Many join)

Return a list of customers first and last names along with details about their payments including the amount and date of payments. Sort these results in descending order by the payment amount.

In [3]:
# Your code here

## Orders, Order details and Product Details (a Many-to-Many Join)

Return a list of customer first and last names, product names, quantities, and date ordered for each of the customers and each of their orders. Sort these in descending order by the order date.

Note: This will require joining 4 tables! This can be tricky! Give it a shot, and if you're still stuck, turn to the next section where you'll see how to write subqueries which can make complex queries such as this much simpler!

In [4]:
# Your code here

## Summary

In this lab, you practiced your knowledge on one-to-many and many-to-many relationships!